.demo-area {
    height: 75%;
}

.coord-container {
    min-width: 15em;
    overflow: hidden;
}

.controls-area {
    height: 15%;
}

.buttons-controls-area {
    height: 10%;
}

.color-letter {
    font-size: 38px;
    font-weight: bold;
}

.single-coord {
    width: 3em;
    font-size: 30px;
    border-bottom: 2px solid #004A43;
}