.page-ref {
    font-size: larger;
    text-decoration: none;
    color: black;
}

.active-page-ref {
    border-bottom: 1px solid rgba(25, 0, 255, 0.245);
}

body {
    overflow-y: scroll;
}

th {
    vertical-align: middle;
}
.small-th {
    min-width: 7em;
    width: 7em;
    max-width: 7em;
}
.sub-th {
    border-top-width: 2px;
    border-bottom-width: 2px !important;
}
.per-input-container {
    min-width: 2em;
}